#edit-project-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.is-hidden {
    visibility: hidden;
}

#edit-project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 10rem;
    background-color: white;
    border: solid black 0.2rem;
    transform: translate(-50%, -50%);
}

#edit-project-span {
    font-size: large;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
#edit-project-span:hover {
    background-color: darkgray;
}


#edit-project-form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3fr);
    grid-template-areas: 
    "top"
    "mid"
    "bottom";
}
.edit-project-top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .8rem;
    padding-right: .8rem;
}
.edit-project-mid {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-project-bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}