/* modal styling */
.task-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0; */
    /* transform: scale(1.1); */
    /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
    z-index: 1;
    visibility: hidden;
}
.task-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    height: 15rem;
    width: 30rem;
    border-radius: 0.5rem;
}
.task-span-close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgrey;
}
.task-span-close:hover {
    background-color: darkgray;
}

/* Form styling */
label {
    display: inline-block;
    width: 8rem;
}
input {
    display: inline-block;
}
#modal-task-form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    grid-template-areas:
    "top top"
    "right left"
    "right left"
    "right-two left-two"
    "right-two left-two"
    "bottom bottom";
}

.top-div {
    grid-area: top;
}
.left-div {
    grid-area: left;
}
.left-div-two {
    grid-area: left-two;
}
.right-div {
    grid-area: right;
}
.right-div-two {
    grid-area: right-two;
}
.bottom-div {
    grid-area: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}