/*Divide the task div in half left side will contain all task data, right side will contain countdown to due date.*/
.task {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
}
.task-left-side {
    grid-area: left;
}
.task-right-side {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Apply custom font to all task headings. */
.task-title, .task-due-time {
    font-family: "bebas";
}
