/* CSS Style reset. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set grid positions for divs */
.header-panel {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    color: white;
    background-color: orange;
    text-decoration: underline;
    border-bottom: solid black .2rem;
}
.header-content-div {
    display: flex;
    align-items: center;
}

.right-panel {
    grid-area: right;
    display: grid;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
    padding-left: 0.6rem;
}
.left-panel {
    display: grid;
    grid-area: left;
    grid-template-rows: repeat(5, 4rem);
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
    border-right: solid black .2rem;
}

.new-project-div {
    border-bottom: solid black .2rem;
}

.project-heading {
    /* Stop the user from selecting hte project name text. */
    user-select: none;
    /* Define custom font. */
    font-family: "bebas";
}
/* Stop the user from selecting the task name and text. */
.task {
    user-select: none;
}
/* Apply custom font to all task headings. */
.task > div > h1 {
    font-family: "bebas";
}

/* Styling for footer-panel */
.footer-panel {
    grid-area: footer;
    border-top: solid black .2rem;
}
/* Style the text elements. */
.header-page-heading {
    font-family: "quicksilver-itl";
}

/* Stop the user from selection the page heading. */
.header-content-div > h1 {
    user-select: none;
}

/* Apply custom font to all placeholder text for right panel */
.place-holder-heading, .right-panel-placeholder {
    font-family: 'bebas';
}
