/* CSS Style reset. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set grid positions for divs */
.header-panel {
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: white;
    background-color: orange;
    text-decoration: underline;
}
.right-panel {
    grid-area: right;
    display: grid;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
}
.left-panel {
    display: grid;
    grid-area: left;
    grid-template-rows: repeat(5, 4rem);
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
}

.project-heading {
    /* Stop the user from selecting hte project name text. */
    user-select: none;
    /* Define custom font. */
    font-family: "bebas";
}
/* Stop the user from selecting the task name and text. */
.task {
    user-select: none;
}
/* Apply custom font to all task headings. */
.task > h1 {
    font-family: "bebas";
}

.footer-panel {
    grid-area: footer;
}
/* Style the text elements. */
.header-page-heading {
    font-family: "quicksilver-itl";
}

/* Stop the user from selection the page heading. */
.header-content-div > h1 {
    user-select: none;
}

.heading {
    font-family: 'bebas';
}