/* CSS Style reset. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid black;

}
/* Setup grid for main page and task display */
#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 6rem 1fr 1fr 1fr / 1fr 3fr;
    grid-template-areas:
    "header header" 
    "left right"
    "left right"
    "left right";
}
/* Set grid positions for divs */
.right-panel {
    grid-area: right;
    display: grid;
    grid-template-rows: repeat(4, 6rem);
    grid-template-rows: 1fr;
    grid-auto-rows: 6rem;
}
.left-panel {
    display: grid;
    grid-area: left;
    grid-template-rows: repeat(4, 6rem);
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
}
