/* CSS Style reset. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */

}
/* Define all of the custom fonts used. */
@font-face {
    font-family: "quicksilver-reg";
    src: url(./fonts/Quicksilver.otf);
}
@font-face {
    font-family: "quicksilver-itl";
    src: url(./fonts/Quicksilver\ Italic.otf);
}
@font-face {
    font-family: "bebas";
    src: url(./fonts/Bebas-Regular.otf)
}

/* Setup grid for main page and task display */
#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 4rem 1fr 1fr 1fr 4rem / 1fr 3fr;
    grid-template-areas:
    "header header" 
    "left right"
    "left right"
    "left right"
    "footer footer";
}

button {
    cursor: pointer;
}

/* Stop selection of the span text element, change select to pointer */
span {
    user-select: none;
    cursor: pointer;
}

p {
    font-family: 'Courier New', Courier, monospace;
}